In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pyreadr
import os
import numpy as np
from scipy.stats import chi2_contingency
from IPython.display import display, HTML

In [10]:

df_freMTPL = pd.read_csv("/home/onyxia/work/Federated_Learning_Milliman/data/french_data.csv")
df_beMTPL = pd.read_csv("/home/onyxia/work/Federated_Learning_Milliman/data/belgium_data.csv")
df_euMTPL = pd.read_csv("/home/onyxia/work/Federated_Learning_Milliman/data/european_data.csv")

ParserError: Error tokenizing data. C error: Expected 12 fields in line 1133814, saw 13

In [9]:
# Étape 1 : Ajouter une colonne d'identification
df_freMTPL['Country'] = 'French'
df_beMTPL['Country'] = 'Belgium'
df_euMTPL['Country'] = 'European'

# Étape 2 : Fusionner les trois bases
data = pd.concat([df_freMTPL, df_beMTPL, df_euMTPL], ignore_index=True)
data

,<<<<<<< HEAD,Country,Exposure,Power,DriverAge,Fuel_type,Density,Sex,Sinistre
0,"IdPolicy,ClaimNb,Exposure,power,CarAge,DriverA...",French,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1.0,0,0.09,43,0,46,Japanese (except Nissan) or...",French,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"2.0,0,0.84,43,0,46,Japanese (except Nissan) or...",French,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"3.0,0,0.52,40,2,38,Japanese (except Nissan) or...",French,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"4.0,0,0.45,40,2,38,Japanese (except Nissan) or...",French,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3712844,NaN,European,0.246575,14.0,40.0,0.0,784.0,0.0,0.0
3712845,NaN,European,0.756164,14.0,52.0,0.0,296.0,1.0,0.0
3712846,NaN,European,0.008219,1.0,46.0,0.0,296.0,0.0,0.0
3712847,NaN,European,0.723288,15.0,25.0,0.0,296.0,1.0,0.0
3712848,NaN,European,1.000000,17.0,41.0,0.0,784.0,1.0,0.0